body{
  background-color: black;
  background-image: url("flower.png"), url("flower2.png"),url("starsky.png");
  background-size: 240px, 240px, auto;
  background-position: left top, right top, left top;
  background-repeat: repeat-y, repeat-y, repeat;
}

a{
  color: white;
  text-decoration: none;
}

iframe{
  box-shadow: 0 0 5px 3px #888888;
}

.movedbox img{
  box-shadow: 0 0 5px 3px #888888;
}

.topbox{
  color: white;
}

.topbox h4{
  padding-top: 10px;
  padding-left: 170px;
  background-color: rgba(19, 43, 94, 0.9);
  height: 30px;
  margin-bottom: -25px;
}

.banner img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2px;
  margin-bottom: -15px;
}

.movedbox{
  position: relative;
}

.coloredbox{
  background-color: rgba(31, 68, 144, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 1100px;
  margin-top: 40px;
  box-shadow: 0 0 10px 5px #888888;
  color: white;
  text-align: center;
}

.projecttitle {
  text-shadow:1px 1px 10px white;
}

.projectshowcase{
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectdescription{
  text-indent: 1em;
  width: 400px;
  margin-left: 30px; 
  margin-top: 0;
  text-align: left;
}

.projectslideshow {
  max-width: 275px;
}

.trackedimage {
  display: none;
  margin-bottom: 5px;
}

.trackedimage img{
  width: 275px;
  height: 275px;
  object-fit: cover; 
}

.trackedimage.wide img{
  width: 350px;
  height: 100%;
  margin-left: -50px;
}

.prev, .next {
  cursor: pointer;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  transition: 0.6s ease;
  user-select: none;
}

.prev{
  margin-right: 10px;
}

.next {
  margin-left: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
